.tiles {
    position: absolute;
    top: 100px;
    width: 100%;
    height: 66px;
    background-color: #fff;
    padding-bottom: 5px;
    ul {
        height: 100%;
        display: flex;
        list-style-type: none;
        li {
            cursor: pointer;
            padding: 10px 0;
            display: flex;
            border-radius: 5px;
            width: 25%;
            margin-right: 5px;
            @for $i from 1 through length($tiles-color) {
                &:nth-child(#{length($tiles-color)}n+#{$i}) {
                    background-color: nth($tiles-color, $i);
                    &:hover {
                        background: darken(nth($tiles-color, $i), 10%);
                    }
                }
            }
            &:first-child {
                margin-left: 80px;
            }
            &:last-child {
                margin-right: 80px;

            }
            a {
                font-size: 18px;
                font-weight: $bold;
                margin: 0 auto;
                display: flex;
                align-items: center;
                text-decoration: none;
                color: #fff;
                i {
                    margin-right: 5px;
                }
            }
        }
    }
}