.top-nav{
  width: 100%;
  height: $top-nav-height;
  position: relative;
  background: $top-nav-bg-color;
  & ul{
    text-align: left;
    position: relative;
  }
& ul li{
   position: relative;

  list-style:none;
  margin: 0 20px;
  display: inline-block;
  line-height: $top-nav-height;
  white-space: nowrap;

  &.left{
    margin-left: 80px;
  }
  &.right{
    text-align: right;
    margin-right: 20px;
    left: 70%;
  }

  & a{
    font-size: 18px;
    // font-weight: $light;
    text-decoration: none;
    color:$top-nav-color;
    &:hover{
      color: $top-nav-color-lighten;
    }
  }
}
}
